<a href="https://colab.research.google.com/github/DmitryKutsev/NIS_SentiFrame/blob/master/hw4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
!wget https://raw.githubusercontent.com/DmitryKutsev/ml_hw/master/small_data.csv

--2020-03-03 23:02:59--  https://raw.githubusercontent.com/DmitryKutsev/ml_hw/master/small_data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 24394136 (23M) [text/plain]
Saving to: ‘small_data.csv’

small_data.csv      100%[===================>]  23.26M   115MB/s    in 0.2s

2020-03-03 23:03:00 (115 MB/s) - ‘small_data.csv’ saved [24394136/24394136]

In [0]:
import pandas as pd

In [0]:
data = pd.read_csv('small_data.csv')

In [13]:
data.head(5)

        item_id  ... image_top_1
0  793dd3d5f0f0  ...       573.0
1  f8c965d9b668  ...      1439.0
2  2f153c00d561  ...      2932.0
3  7fc5eea56915  ...       386.0
4  b01000d29ea3  ...       209.0

[5 rows x 17 columns]